body.active-modal-delete {
    overflow-y: hidden;
}

.btn-modal-delete {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.btn-modal-delete:hover{
    background-color:rgb(46 39 39 / 20%);
}
.modaldelete, .overlaydelete {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.deleteItem{
    padding: 8px;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
}
.deleteItem:hover{
    background-color: #a3a3a330;
}
.overlaydelete {
    background: rgba(49,49,49,0.8);
}
.modal-content-delete {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.deleteIcon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
@media screen and (max-width: 1168px) {
    .btn-modal-delete{
        padding: 6px 20px;
        font-size: 13px;
    }
    .deleteIcon {
        width: 16px;
        height: 15px;
    }
}