.pageItemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}
.pageItem-red, .pageItem-green, .pageItem-blue{
    width: 266px;
    height: 156px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pageItemLeft{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 16px;
}
.pageItemAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(46 39 39 / 26%);
    height: 38px;
    border-radius: 5px;
}
.cardItemCount{
    font-size: 31px;
    font-weight: 800;
}
.pageItem-red{
    background-color: #FF4433;
}
.pageItem-green{
    background-color: #2AAA8A;
}
.pageItem-blue{
    background-color: #0096FF;
}
.pageItem-img{
    width: 89px;
    height: 61px;
    opacity: 0.4;
}
.adminLayoutCartDirection{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 1168px) {
    .pageItem-red, .pageItem-green, .pageItem-blue{
        width: 32%;
        height: 130px;
    }
    .pageItemLeft {
        font-size: 12px;
    }
    .pageItem-img {
        width: 30px;
        height: 25px;
    }
    .cardItemCount{
        font-size: 4vw;
    }
}

