.productInfos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 666px;
}
.productInfos span{
    margin: 10px 0;
    color: #3a3a3a;
} 
.productInfosLeft, .productInfosRight{
    display: flex;
    flex-direction: column;
    width: 46%;
}
.product{
    border: 1px dotted;
    border-radius: 6px;
    padding: 5px 46px;
    background: #fff;
    margin-bottom: 10px;
} 
.productEditIcon{
    width: 30px;
}

.productEditorContainer{
    display: none;
    position: absolute;
    width: 150px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 50px 75px rgba(0,0,0,.05);
    border-radius: 5px;
    padding: 17px 0;
    z-index: 3;
}
.productEditorContainer.active{
    display: block;
}

@media screen and (max-width: 1168px) {
    .product{
        padding: 5px;
    }
    .productInfos{
        width: 100%;
    }
    .productInfos span{
        font-size: 11px;
    }
    .productEditorContainer{
        width: 120px;
        right: 30px;
    }
    .productEditIcon{
        width: 4vw;
    }
    .pageItemInfos span{
        font-size: 10px;
        overflow: scroll;
    }
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}